
[submodule "kate"]
	path = kate
	url = git@git.vauxoo.com:vauxoo/kate.git
	branch = 16.0-migrate_module-slitheryduke11
[submodule "costarica"]
	path = costarica
	url = git@git.vauxoo.com:vauxoo/costarica.git
	branch = 16.0
