[submodule "others/it-projects-pos-addons"]
	path = others/it-projects-pos-addons
	url = git@github.com:clearcorp/it-projects-pos-addons.git
[submodule "others/it-projects-misc-addons"]
	path = others/it-projects-misc-addons
	url = git@github.com:clearcorp/it-projects-misc-addons.git
[submodule "clearcorp/odoo-einvoicing"]
	path = clearcorp/odoo-einvoicing
	url = git@git.vauxoo.com:vauxoo/costarica.git
[submodule "oca/oca-stock-logistics-barcode"]
	path = oca/oca-stock-logistics-barcode
	url = git@github.com:clearcorp/oca-stock-logistics-barcode.git
